<div ng-controller='customersController'>
	<h3>Add a new customer</h3>
	<form>
		Customer Name: <input type='text' ng-model='newCustomer.name'>
		<input type='submit' value='Add' ng-click='addCustomer()'>
	</form>
	<h5>Search Name: <input type='text' ng-model='filter_name'></h5>
	<table>
		<thead>
			<th>Customer Name</th>
			<th>Created Date</th>
			<th>Actions</th>
		</thead>
		<tr ng-repeat="cus in customers | filter: filter_name | orderBy: 'name'">
			<td>{{cus.name}}</td>
			<td>{{cus.created_at | date : "longDate"}}</td>
			<td><a href="" ng-click='removeCustomer(cus)'>Remove</a></td>
		</tr>
	</table>
</div>